.countryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 140px;
  text-align: center;
}

.imagesContainer {
  width: 100%;
  display: flex;
  gap: 220px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.imageLeft,
.imageCenter,
.imageRight {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.imageCenter {
  transform: translateY(-40px);
}

.description {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
}
